<form class="form" (ngSubmit)="save()" *ngIf="dataLoaded" ngNativeValidate>
  <div class="form-group">
    <label>Category</label>
    <select required name="category" class="form-control"  [compareWith]="byId" [(ngModel)]="item.category">
      <option *ngFor="let category of categories" [ngValue]="category">{{category.name}}</option>  
    </select> 
  </div>
 
  <div class="form-group">
    <label>Name</label>
    <input required type="text" name="name" class="form-control" [(ngModel)]="item.name"/>
  </div>
  <div class="form-group">
    <label>Price</label>
    <input required type="text" name="price" class="form-control" [(ngModel)]="item.price"/>
  </div>
  <div class="pull-right">
    <input type="submit" class="btn btn-primary" value="save"/>
    <button class="btn btn-warning" [routerLink]="['/menu']">Back to the list</button>      
  </div>
  </form>
  